<div class="container">

<h1 class="text-center search-title mb-4" data-testid="heading">Résultats de la recherche</h1>


<div class="row row-cols-1 row-cols-md-2 row-cols-md-3 row-cols-md-4 g-3 mb-4">

<% @clothes.each do |clothe| %>
<div class="col">
    <div class="card-container">
      <% if clothe.photo.attached? %>
        <div class="card-container">
          <%= cl_image_tag clothe.photo.key, class: "card-img-top" %>
          <i class="fa-regular fa-heart favorite-icon"></i>
        </div>
      <% else %>
        <div class="card-container">
          <%= image_tag "t-shirt 2.jpg", class: "card-img-top" %>
          <i class="fa-regular fa-heart red favorite-icon"></i>
        </div>
       <% end  %>

    <div class ="card">
      <div class="card-body">
      <p class="card-text"><%= clothe.description %></p>
        <h5 class="card-title" style="font-size: 0.9rem; font-weight: 600; color: #333; text-transform: uppercase; letter-spacing: 0.05em; margin-bottom: 10px ; font-family: 'Montserrat', sans-serif;"><%= clothe.brand %> </h5>
          <p class="card-text" ><%= clothe.color %></p>
          <div class="card-color" style= "background-color: <%= clothe.hexa_color %>;">
          </div>
           <p class="card-text" style="font-size: 1.2rem; font-weight: semi-bold; color: black; margin: 10px 0; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);" >€<%= clothe.price %></p>
        <%= link_to "Louer moi", clothe_path(clothe), class: "btn btn-primary"%>
      </div>
      </div>
    </div>
  </div>
<% end %>
</div>
</div>


<%# <div class="row justify-content">
  <div class="col-4">
    <div class="card-product">
    <%= image_tag "pull rouge model.jpeg", class: "card-product" %>
      <%# <div class="card-product-infos">
      <h2>Nuancier</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card-product">
    <%= image_tag "nuancier.jpg", class: "card-product" %>
      <%# <div class="card-product-infos">
       <h2>Type de produit</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
     </div>
    </div> %>
    <%# <div class="col-4">
      <div class="card-product">
      <%= image_tag "portrait.jpg", class: "card-product" %>
      <%# <div class="card-product-infos"> %>
      <%# <h2>Nouveauté</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
      </div> %>
      <%# </div>
    </div> %>
    <%# </div>
    </div>%>


<%# <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
  <span class="border border-black"></span>
    Le t-shirt rouge fait avec le <i class="fas fa-heart"></i> dans nos locaux.
  </div>
</div> %>
