<div class="container"><header>
  <!-- content -->
  <section class="py-5">
    <div class="container">
      <div class="row gx-5">
        <aside class="col-lg-6">
          <div class="border rounded-4 mb-3 d-flex justify-content-center">
            <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" href="">
            <% if @clothe&.photo.attached? %>
              <%= cl_image_tag @clothe.photo.key, class: "rounded-4 fit card-product-show" %>
            <% else %>
              <%= image_tag('t-shirt.png', class: "rounded-4 fit card-product-show") %>
            <% end %>
              <%# <img class="rounded-4 fit card-product-show"/> %>
            </a>
          </div>
        </aside>
        <main class="col-lg-6">
          <div class="ps-lg-3">
            <h2 class="title text-dark">
              <%= @clothe.name %><br />
            </h2>
            <div class="d-flex flex-row my-3">
              <div class="text-warning mb-1 me-2">
                <%# <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fas fa-star-half-alt"></i> %>
                <%# <span class="ms-1">
                  4.5
                </span> %>
              </div>
              <span class="text-muted"><i class="fas fa-shopping-basket fa-sm mx-1"></i><%= pluralize(@rental_count, "location") %></span>
            </div>

            <div class="mb-3">
              <span class="h5"><%= @clothe.price %>.00€</span>
              <span class="text-muted">/par jour</span>
            </div>
            <p>
            <%= @clothe.description %>
            </p>

            <div class="row">
              <dt class="col-3">Catégorie:</dt>
              <dd class="col-9"><%= @clothe.category %></dd>

              <dt class="col-3">Couleur</dt>
              <dd class="col-9"><%= @clothe.color %></dd>

              <dt class="col-3">Taille</dt>
              <dd class="col-9"><%= @clothe.size %></dd>

              <dt class="col-3">Marque</dt>
              <dd class="col-9"><%= @clothe.brand %></dd>
            </div>

            <hr />

            <div class="row mb-4">
              <div>
                  <h4>Démarrer ma location</h4>
                <label class="mb-2"></label>
                    <%= simple_form_for [@clothe, @rental],  data: { controller: 'flatpickr' } do |f| %>
                    <div class="row">
                    <div class="col-6"><%= f.input :start_date, label: 'Date de début', as: :string, input_html: { data: { flatpickr_target: "startTime" } }  %></div>
                    <div class="col-6"><%= f.input :end_date, label: 'Date de fin', as: :string, input_html: { data: { flatpickr_target: "endTime" } }  %></div>
                    </div>
                    <%= f.submit 'Louer', class: "btn btn-default btn-primary btn-lg" %>
                  <% end %>
              </div>
              <!-- col.// -->
            </div>
          </div>
        </main>
      </div>
    </div>
  </section>


  <!-- content -->
  <div class="card-category-show">
  <%= link_to("Toute l'offre Red Tnt", clothes_path) %>
  </div>

  <div class="container my-5">
    <h2>Notre sélection pour vous</h2>
    <p>Retrouvez une sélection d'articles disponibles près de chez vous correspondant à votre recherche. </p>
    <div class="row my-5 gap-2 justify-content-center">
        <% @random_clothes.each do |clothe| %>
          <div class="col-2">
            <div class="card">
                <img class="card-img-top" src="<%= image_path("Tshirt rouge 2.png") %>" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title"><%= clothe.name %></h5>
                  <p class="card-text"><%= clothe.description %></p>
                  <a href="#" class="btn btn-primary">Louer</a>
                </div>
              </div>
          </div>
       <% end %>
    </div>
  </div>
</div>
